In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
np_visits_df = pd.read_csv("../data/visits_per_year.csv")

In [5]:
np_visits_df.head(5)

,ParkName,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Average
0,Acadia NP,2558572.0,2431062.0,2207847.0,2051484.0,2083588.0,2202228.0,2075857.0,2227698.0,2504208.0,...,2254922.0,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034,4069098,2665157
1,Arches NP,769672.0,757781.0,733131.0,781670.0,833049.0,860181.0,928795.0,996312.0,1014405.0,...,1082866.0,1284767.0,1399247.0,1585718.0,1539028.0,1663557.0,1659702.0,1806865,1806865,1152308
2,Badlands NP,908898.0,871034.0,936030.0,909146.0,840118.0,886654.0,845734.0,933918.0,977778.0,...,892372.0,868094.0,989354.0,996263.0,1054325.0,1008942.0,970998.0,916932,1224226,939248
3,Big Bend NP,327747.0,312384.0,357723.0,398583.0,298717.0,364856.0,362512.0,363905.0,372330.0,...,316953.0,314102.0,381747.0,388290.0,440276.0,440091.0,463832.0,393907,581220,376655
4,Biscayne NP,513397.0,490031.0,478304.0,563728.0,608836.0,517442.0,686062.0,437745.0,467612.0,...,486848.0,525745.0,508164.0,514709.0,446961.0,469253.0,708522.0,402770,705655,525174

In [6]:
np_ranks_df = pd.read_csv("../data/annual_park_rankings.csv")

In [7]:
np_ranks_df.head(5)

                   ParkName  Rank  RecreationVisits  PercentOfTotal
0           Blue Ridge PKWY   1.0        15948148.0            0.05
1  Great Smoky Mountains NP   2.0        15948148.0            0.05
2           Golden Gate NRA   3.0        15948148.0            0.05
3               Gateway NRA   4.0        15948148.0            0.03
4             Lake Mead NRA   5.0        15948148.0            0.03

In [8]:
np_rank_and_visit_df = pd.merge(np_visits_df, np_ranks_df, how='outer', on = ['ParkName'])

In [9]:
np_rank_and_visit_df.head(5)

,ParkName,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2016,2017,2018,2019,2020,2021,Average,Rank,RecreationVisits,PercentOfTotal
0,Acadia NP,2558572.0,2431062.0,2207847.0,2051484.0,2083588.0,2202228.0,2075857.0,2227698.0,2504208.0,...,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,4069098.0,2665157.0,16.0,15948148.0,0.01
1,Arches NP,769672.0,757781.0,733131.0,781670.0,833049.0,860181.0,928795.0,996312.0,1014405.0,...,1585718.0,1539028.0,1663557.0,1659702.0,1806865.0,1806865.0,1152308.0,44.0,15948148.0,0.01
2,Badlands NP,908898.0,871034.0,936030.0,909146.0,840118.0,886654.0,845734.0,933918.0,977778.0,...,996263.0,1054325.0,1008942.0,970998.0,916932.0,1224226.0,939248.0,64.0,15948148.0,0.00
3,Big Bend NP,327747.0,312384.0,357723.0,398583.0,298717.0,364856.0,362512.0,363905.0,372330.0,...,388290.0,440276.0,440091.0,463832.0,393907.0,581220.0,376655.0,108.0,15948148.0,0.00
4,Biscayne NP,513397.0,490031.0,478304.0,563728.0,608836.0,517442.0,686062.0,437745.0,467612.0,...,514709.0,446961.0,469253.0,708522.0,402770.0,705655.0,525174.0,96.0,15948148.0,0.00